* {
  font-family: 'Work Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.color--dark {
  color: #222125;
}

.contact-button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #09090a;
  color: white;
}

.contact-button:hover, .contact-button:active, .contact-button:focus {
  background-color: #db4a07;
  color: white;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

@media screen and (max-width: 1100px) {
  .section-with-border {
    border-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .contacts {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container {
    width: 100%;
  }
  header {
    padding: 10px;
  }
  .center {
    margin: auto;
  }
  .button--round > i {
    font-size: 24px;
  }
  .email-tooltip {
    left: -135px;
    top: 44px;
  }
  .email-tooltip::before {
    top: -5px;
    right: 60px;
  }
  .menu button {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 50%;
  }
  .project {
    margin-bottom: 20px;
  }
  .project__name::after {
    display: none;
  }
  .project .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 1100px) {
  .section-with-border {
    border-width: 2px;
  }
  .contacts {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 30px;
    bottom: 30px;
  }
  .contacts .button {
    margin-top: 10px;
  }
  .container {
    width: 900px;
  }
  header {
    padding: 30px 0;
  }
  .center {
    margin: auto;
  }
  .button--round > i {
    font-size: 36px;
  }
  .email-tooltip {
    left: -72px;
    top: 44px;
  }
  .email-tooltip::before {
    top: -5px;
    left: 50%;
  }
  .project {
    margin-bottom: 30px;
  }
  .project__name::after {
    display: block;
  }
  .project .description {
    margin-top: 20px;
  }
  .languages > .section > .tech {
    width: 500px;
  }
}

body {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
  min-height: 100vh;
  padding-bottom: 100px;
}

body.hide {
  display: none;
}

body.theme--dark {
  background-color: #222125;
}

body.theme--dark * {
  color: #f5f4f8;
}

body.theme--dark .menu > .button::after {
  background: #f5f4f8;
}

body.theme--dark .project:hover .project__name::after {
  background-color: #e6e6e6;
}

body.theme--dark .project .project__name::after {
  background-color: rgba(230, 230, 230, 0.2);
}

body.theme--dark .languages table tr:nth-child(2n + 2) {
  background-color: #29282d;
}

body.theme--dark .tech__el {
  background-color: #4b4b4b;
}

body.theme--dark .section-with-border {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-style: solid;
  border-color: rgba(230, 230, 230, 0.2);
}

body.theme--dark .section-with-border:hover {
  border-color: #e6e6e6;
}

body.theme--dark .button.button--1 {
  color: #222125;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body.theme--dark .button.button--1:hover, body.theme--dark .button.button--1:active, body.theme--dark .button.button--1:focus {
  background-color: #db4a07;
  color: white;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

body:not(.theme--dark) {
  background-color: #f5f4f8;
}

body:not(.theme--dark) .menu > .button::after {
  background: #222125;
}

body:not(.theme--dark) .project:hover .project__name::after {
  background-color: #d9d5e4;
}

body:not(.theme--dark) .project .project__name::after {
  background-color: #edebf2;
}

body:not(.theme--dark) .languages table tr:nth-child(2n + 2) {
  background-color: #edebf2;
}

body:not(.theme--dark) .tech__el {
  background-color: #ceccd9;
}

body:not(.theme--dark) .section-with-border {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-style: solid;
  border-color: #edebf2;
}

body:not(.theme--dark) .section-with-border:hover {
  border-color: #d9d5e4;
}

body:not(.theme--dark) i {
  color: #222125;
}

body:not(.theme--dark) .button.button--1 {
  color: #f5f4f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #222125;
}

body:not(.theme--dark) .button.button--1:hover, body:not(.theme--dark) .button.button--1:active, body:not(.theme--dark) .button.button--1:focus {
  background-color: #db4a07;
  color: white;
  -webkit-box-shadow: 2px 2px 10px #a097bd;
          box-shadow: 2px 2px 10px #a097bd;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.no-margin {
  margin: 0;
}

.button, .link {
  cursor: pointer;
  font-size: 14px;
  border: none;
}

.button {
  padding: 10px 20px;
  padding: 10px 20px;
  border-radius: 100px;
  text-decoration: none;
}

.link {
  padding: 5px 0px;
  position: relative;
  background: transparent;
  color: #f5f4f8;
}

.link::after {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: #f5f4f8;
}

.link:hover::after {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 10px;
}

.text-transform--uppercase {
  text-transform: uppercase;
}

.tooltip-parent {
  position: relative;
}

body.theme--dark .email-tooltip {
  background-color: #f5f4f8;
  color: #222125;
}

body.theme--dark .email-tooltip button {
  background: transparent;
}

body.theme--dark .email-tooltip button:hover {
  background: #222125;
}

body.theme--dark .email-tooltip button:hover i {
  color: #f5f4f8;
}

body.theme--dark .email-tooltip button i {
  color: #222125;
}

body.theme--dark .email-tooltip::before {
  background-color: #f5f4f8;
}

body:not(.theme--dark) .email-tooltip {
  background-color: #222125;
  color: #f5f4f8;
}

body:not(.theme--dark) .email-tooltip button {
  background: transparent;
}

body:not(.theme--dark) .email-tooltip button:hover {
  background: #f5f4f8;
}

body:not(.theme--dark) .email-tooltip button:hover i {
  color: #222125;
}

body:not(.theme--dark) .email-tooltip button i {
  color: #f5f4f8;
}

body:not(.theme--dark) .email-tooltip::before {
  background-color: #222125;
}

.email-tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 10px;
  border-radius: 7px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.email-tooltip--ok button {
  background: #db4a07 !important;
}

.email-tooltip--ok button i {
  color: #f5f4f8 !important;
}

.email-tooltip button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  margin-left: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.email-tooltip--open {
  opacity: 1;
}

.email-tooltip::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
  height: 50px;
}

.menu .button {
  background: transparent;
  padding: 0;
  font-size: 1.2em;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .button::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 0;
  height: 2px;
  display: block;
  background: #f5f4f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.menu .button:hover {
  font-size: 1.4em;
}

.menu .button:hover::after {
  bottom: -10px;
  opacity: 1;
  left: 0;
  width: 100%;
}

.menu .button h2 {
  font-weight: 300;
}

.menu .menu--selected {
  font-size: 1.4em;
}

.menu .menu--selected::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
  background: #f5f4f8;
  opacity: 1;
}

.flex--jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex--aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  padding: 20px;
}

.project__button {
  margin-left: 10px;
}

.project__name {
  position: relative;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__name a.button {
  background: transparent;
  display: block;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project__name a.button i {
  margin-top: 13px;
  margin-left: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project__name::after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0px;
  width: calc(100% + 40px);
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .description .text {
  margin-left: 20px;
}

.project .description .text p {
  line-height: 1.5;
  text-align: justify;
}

.project .description .text .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.project .description .text .tech__el {
  margin-top: 3px;
  padding: 2px 10px;
  border-radius: 4px;
  display: inline;
  margin-left: 5px;
}

.project .preview {
  max-width: 300px;
}

.project .preview .media-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 300px;
}

.project .preview video, .project .preview img {
  width: 100%;
  height: auto;
}

.text-align--center {
  text-align: center;
}

.flex--jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tech__el {
  cursor: default;
  font-weight: 400;
  padding: 2px 10px;
  border-radius: 4px;
  display: inline;
  margin-top: 3px;
}

.languages .section {
  margin: 50px 0px;
}

.languages .section h2 {
  margin: 20px 0px;
}

.languages .section .tech {
  margin: auto;
}

.languages .section table {
  overflow: hidden;
  margin: auto;
  width: 100%;
}

.languages .section table td, .languages .section table th {
  padding: 20px;
}

.languages .section table td.tech__col, .languages .section table th.tech__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.languages .section table .tech__el {
  display: block;
  margin-bottom: 5px;
}

.subtitle {
  color: #a3a3a3;
  font-weight: 300;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button--round {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 56px;
  height: 56px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
}

.button--round:not(.button--no-background):hover {
  background: #f5f4f8;
}

.button--round:not(.button--no-background):hover i {
  color: #db4a07;
}

.button--round i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button--round:hover i {
  color: #db4a07;
}

#name {
  position: relative;
  z-index: 1;
  margin-top: 160px;
  margin-bottom: 100px;
  text-align: center;
}

#name h1 {
  font-size: 48px;
  letter-spacing: 5px;
}

#name h4 {
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */