* {
  font-family: 'Work Sans', sans-serif;
  color: #033B3D;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.no-margin {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 10px;
}

.container {
  width: 1000px;
}

body {
  margin: 0;
  min-height: 100vh;
}

body::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #0cb4c5;
}

body::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
  height: 50px;
}

.menu .button {
  background: transparent;
  text-transform: uppercase;
  padding: 0;
  font-size: 1.2em;
  margin-right: 20px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  display: block;
  background: #033B3D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .button:hover {
  font-size: 1.4em;
}

.menu .button:hover::after {
  width: 100%;
}

.menu .button h2 {
  font-weight: 300;
}

.menu .menu--selected {
  font-size: 1.4em;
}

.menu .menu--selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
  background: #033B3D;
}

header {
  padding: 30px 0;
}

header .button, header .link {
  margin-left: 20px;
}

.button, .link {
  cursor: pointer;
  font-size: 14px;
  border: none;
}

.button {
  padding: 10px 20px;
  background: white;
  padding: 10px 20px;
  border-radius: 100px;
  text-decoration: none;
}

.link {
  padding: 5px 0px;
  position: relative;
  background: transparent;
  color: white;
}

.link::after {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: white;
}

.link:hover::after {
  width: 100%;
}

.project {
  padding: 20px;
  margin-bottom: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #e6e6e6;
  border-radius: 20px;
}

.project__name {
  position: relative;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__name a.button {
  display: inline-block;
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 10px;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project__name a.button i {
  margin-top: 13px;
  margin-left: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project__name::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #e6e6e6;
}

.project .description {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .description .text {
  margin-left: 20px;
}

.project .description .text .tech {
  margin-bottom: 20px;
}

.project .description .text .tech__el {
  cursor: default;
  font-weight: 400;
  background-color: #e5e5e5;
  padding: 2px 10px;
  border-radius: 4px;
  display: inline;
  margin-left: 5px;
}

.project .preview {
  max-width: 300px;
}

.project .preview .media-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.project .preview video, .project .preview img {
  width: 100%;
  height: auto;
}

.text-align--center {
  text-align: center;
}

.flex--jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tech__el {
  cursor: default;
  font-weight: 400;
  background-color: #e5e5e5;
  padding: 2px 10px;
  border-radius: 4px;
  display: inline;
  margin-left: 5px;
}

.languages .section {
  margin: 50px 0px;
}

.languages .section h2 {
  margin: 20px 0px;
}

.languages .section .tech {
  margin: auto;
  width: 500px;
}

.languages .section table {
  overflow: hidden;
  border: 2px solid #e6e6e6;
  border-radius: 20px;
  margin: auto;
  width: 100%;
}

.languages .section table tr:nth-child(2n + 2) {
  background-color: #f8f8f8;
}

.languages .section table td, .languages .section table th {
  padding: 20px;
}

.languages .section table td.tech__col, .languages .section table th.tech__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.languages .section table .tech__el {
  display: block;
  margin-bottom: 5px;
}

.center {
  margin: auto;
}

.subtitle {
  color: #a3a3a3;
  font-weight: 300;
}

.contacts {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 20px;
  bottom: 10px;
}

.contacts .button {
  margin: 10px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 20px;
  background: transparent;
}

.contacts .button:hover {
  background: #9c9c9c;
}

.contacts .button:hover i {
  color: white;
}

.contacts .button i {
  font-size: 18px;
}

#name {
  position: relative;
  z-index: 1;
  margin-top: 160px;
  margin-bottom: 100px;
  text-align: center;
}

#name h1 {
  font-size: 48px;
  letter-spacing: 5px;
}

#name h4 {
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */