* {
    font-family: 'Inconsolata', monospace;
    color: #033B3D;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 10px;
}

body {
    margin: 0;
    min-height: 100vh;
}

body::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 140px;
    background-color: #0CC59E;
}

body::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 130px; left: 0;
    width: 100%; height: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
}

.flex {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

header {
    padding: 30px 0;
}

.button, .link {
    cursor: pointer;
    font-size: 14px;
    border: none;
    margin-right: 20px;
}

.button {    
    padding: 10px 20px;
    background: white;
    padding: 10px 20px;
    border-radius: 100px;
}

.link {
    padding: 5px 0px;
    position: relative;
    background: transparent;
    color: white;
}

.link:hover::after {
    width: 100%;
}

.link::after {
    content: "";
    transition: 0.3s;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: white;
}

.project {
    padding: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    border: 1px solid white;
}

.project:hover {
    border: 1px solid rgb(221, 221, 221);
}

.project__name {
    position: relative;
    padding-bottom: 20px;
}

.project__name::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: black;
}

.project>.description {
    margin-top: 20px;
    display: flex;
}

.project>.description>.text {
    margin-left: 20px;
}

.project>.description>.text>.tech {
    margin-bottom: 20px;
}

.preview {
    width: 300px;
}

.container {
    width: 800px;
}

.center {
    margin: auto;
}

.subtitle {
    color: rgb(148, 148, 148);
}

.contacts {
    position: fixed;
    left: 0px;
    bottom: 10px;
}

#name {
    position: relative;
    z-index: 1;
    margin-top: 160px;
    margin-bottom: 100px;
    text-align: center;
}

#name>h1 {
    font-size: 48px;
    letter-spacing: 5px;
}

#name>h4 {
    font-size: 18px;
}